<p id="notice"><%= notice %></p>

<h1>Listing Seeds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Annual Precipitation <br> (<%= UnitOfMeasurement.first.name %>)</th>
      <th>Soil Type</th>
      <th>Salt Tolerance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= seed.name %></td>
        <td><%= seed.annual_precipitation_amount %></td>
        <td><%= seed.soil_type %></td>
        <td><%= seed.salt_tolerance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
