<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>
<p>
  <strong>Annual Precipitation:</strong>
  <%= @seed.annual_precipitation_minimum %> <%= UnitOfMeasurement.find(@seed.unit_of_measurement_id).name %>
</p>
<p>
  <strong>Soil Type:</strong>
  <%= SoilType.find(@seed.soil_type_id).name %>
</p>
<p>
  <strong>Salt Tolerance:</strong>
  <%= SalineSodicSoilTolerance.find(@seed.saline_sodic_soil_tolerance_id).level %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
