<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>
<p>
  <strong>Annual Precipitation (<%= @seed.annual_precipitation_unit_of_measurement %>):</strong>
  <%= @seed.annual_precipitation_amount %>
</p>
<p>
  <strong>Soil Type:</strong>
  <%= @seed.soil_type %>
</p>
<p>
  <strong>Salt Tolerance:</strong>
  <%= @seed.salt_tolerance %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
