<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>
<p>
  <strong>Annual Precipitation (inches):</strong>
  <%= AnnualPrecipitation.find(@seed.annual_precipitation_id).amount %>
</p>
<p>
  <strong>Soil Type:</strong>
  <%= SoilType.find(@seed.soil_type_id).name %>
</p>
<p>
  <strong>Salt Tolerance:</strong>
  <%= SaltTolerance.find(@seed.salt_tolerance_id).level %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
